@using WebSiteProdutos.ViewModel
@model ProdutoViewModel

@{
    ViewData["Title"] = "Editar Produto";
}

<h3>Mercado - Editar Produto</h3>

@*Formulário para editar o produto*@
<form class="col-5" asp-controller="Produto" asp-action="EditarProduto" asp-route-id="" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="CODPRODUTO" />
        <label for="nome">Nome do produto</label>
        <input type="text" class="form-control" placeholder="Exemplo: Morango" asp-for="NOME">
    </div>
    <div class="form-group">
        <label for="preco">Preço</label>
        <input type="text" class="form-control" asp-for="PRECO" onkeyup="formataValor(this)">
    </div>
    <div class="form-group">
        <label for="nome">Quantidade</label>
        <input type="number" class="form-control" asp-for="QUANTIDADE">
    </div>
    <div class="form-group">
        <label>Tipo</label>
        <select class="form-control" id="exampleFormControlSelect1" asp-for="CODTIPO">
            <option value="@Model.CODTIPO" selected>@Model.TIPO</option>
            @foreach (var item in Model.TipoProdutos)
            {
                @if (item.CODTIPO != Model.CODTIPO)
                {
                    <option value="@item.CODTIPO">@item.TIPO</option>
                }
            }
        </select>
    </div>
    <div>&nbsp;</div>
    <button type="submit" class="btn btn-primary" onclick="return confirm('Você tem certeza que quer editar?');">Editar</button>
    <a class="btn btn-secondary align-content-end" role="button" asp-controller="Produto" asp-action="Index">Voltar</a>
</form>